/************************************************************************************/
/* GAME BOX BASE */
/************************************************************************************/
.game_box { background-image: url('../img/layout/base_f.jpg');}
span {background-repeat:no-repeat;}
/************************************************************************************/
/* ORDER CARD  */
/************************************************************************************/

/************************************************************************************/
/* HISTORY */
/************************************************************************************/
.div_history_box {width:346px; height:182px;overflow-y:scroll;}
.div_history {width:372px; height:255px; background-image:url('../img/history/history_back.png'); background-repeat:no-repeat; margin-left:457px; margin-top:132px;}
.div_history .title {height:38px;background-image:url('../img/history/history_title.png'); background-repeat:no-repeat; background-position:center 7px;}
.div_history .arrow {height:7px; background-image:url('../img/history/arrow.html'); background-position: 317px 0px; background-repeat:no-repeat;}

.div_history .result_back {width:346px; height:182px; color:#eee; font-size:14px; text-shadow:1px 1px 1px #000; font-weight:bold; letter-spacing:1px;}

.div_history .tb_result_history { width:100%; height:100%; border-collapse:separate; empty-cells:show; padding:0px; background-color:black; border:0px !important; border-spacing:1px;  }
.div_history .tb_result_history th {padding:0px;}
.div_history .tb_result_history td {padding:0px; width:44px; height:46px; vertical-align:middle;}

.div_history .rrl0 { width:38px; height:26px; margin-top:0px; background-image:url('../img/history/0.png'); display:inline-block;}
.div_history .rrlB { width:38px; height:26px; margin-top:0px; background-image:url('../img/history/B.png'); display:inline-block;}
.div_history .rrlR { width:38px; height:26px; margin-top:0px; background-image:url('../img/history/R.png'); display:inline-block;}

.div_history .htd1{ width:94px; text-align:center;}
.div_history .htd2{ width:30px; text-align:center;}
.div_history .htd3{ width:30px; text-align:center;}
.div_history .htd4{ width:30px; text-align:center;}
.div_history .htd5{ width:46px; text-align:center;}
.div_history .htd6{ width:46px; text-align:center;}
.div_history .htd7{ width:46px; text-align:center;}

.div_history .split { width:1px; background-color:black; }

.div_history_line_0 {
    height: 26px;
    line-height:26px;
    background-image:url('../img/history/his_line_0.png');
    text-align:center;
}
.div_history_line_1 {
    height: 26px;
    line-height:26px;
    background-image:url('../img/history/his_line_1.png');
    text-align: center;
}

/************************************************************************************/
/* BETTING ZONE */
/************************************************************************************/
.div_bet_zone1_off{position:absolute; width:217px; height:66px; float:left; margin:590px 0 0 402px; border-radius:0px;}
.div_bet_zone2_off{position:absolute; width:218px; height:66px; float:left; margin:590px 0 0 621px; border-radius:0px;}
.div_bet_zone3_off{position:absolute; width:237px; height:66px; float:left; margin:590px 0 0 182px; border-radius:0px;}
.div_bet_zone4_off{position:absolute; width:233px; height:66px; float:left; margin:590px 0 0 824px; border-radius:0px;}
.div_bet_zone5_off{position:absolute; width:275px; height:40px; float:left; margin:548px 0 0 215px; border-radius:0px;}
.div_bet_zone6_off{position:absolute; width:274px; height:40px; float:left; margin:548px 0 0 749px; border-radius:0px;}
.div_bet_zone7_off{position:absolute; width:267px; height:40px; float:left; margin:549px 0 0 486px; border-radius:0px;}

.div_bet_zone1_on{width:217px; height:66px; float:left; margin:590px 0 0 402px; position:absolute; background-image:url('../img/layout/bet1.png'); cursor:url(../../common/cursor/bet5.png), auto;border-radius:0px;}
.div_bet_zone2_on{width:218px; height:66px; float:left; margin:590px 0 0 621px; position:absolute; background-image:url('../img/layout/bet2.png'); cursor:url(../../common/cursor/bet5.png), auto;border-radius:0px;}
.div_bet_zone3_on{width:237px; height:66px; float:left; margin:590px 0 0 182px; position:absolute; background-image:url('../img/layout/bet3.png'); cursor:url(../../common/cursor/bet5.png), auto;border-radius:0px;}
.div_bet_zone4_on{width:233px; height:66px; float:left; margin:590px 0 0 824px; position:absolute; background-image:url('../img/layout/bet4.png'); cursor:url(../../common/cursor/bet5.png), auto;border-radius:0px;}
.div_bet_zone5_on{width:275px; height:40px; float:left; margin:548px 0 0 215px; position:absolute; background-image:url('../img/layout/bet5.png'); cursor:url(../../common/cursor/bet5.png), auto;border-radius:0px;}
.div_bet_zone6_on{width:274px; height:40px; float:left; margin:548px 0 0 749px; position:absolute; background-image:url('../img/layout/bet6.png'); cursor:url(../../common/cursor/bet5.png), auto;border-radius:0px;}
.div_bet_zone7_on{width:267px; height:40px; float:left; margin:549px 0 0 486px; position:absolute; background-image:url('../img/layout/bet7.png'); cursor:url(../../common/cursor/bet5.png), auto;border-radius:0px;}


.div_bet_zone1_on:hover{background-image:url('../img/layout/bet_over1.png');}
.div_bet_zone2_on:hover{background-image:url('../img/layout/bet_over2.png');}
.div_bet_zone3_on:hover{background-image:url('../img/layout/bet_over3.png');}
.div_bet_zone4_on:hover{background-image:url('../img/layout/bet_over4.png');}
.div_bet_zone5_on:hover{background-image:url('../img/layout/bet_over5.png');}
.div_bet_zone6_on:hover{background-image:url('../img/layout/bet_over6.png');}
.div_bet_zone7_on:hover{background-image:url('../img/layout/bet_over7.png');}


.div_bet_chip_zone1 {height:0px; width:112px; z-index:32; position:absolute; margin-top:-10px; margin-left:55px;}
.div_bet_chip_zone2 {height:0px; width:112px; z-index:32; position:absolute; margin-top:-10px; margin-left:50px;}
.div_bet_chip_zone3 {height:0px; width:112px; z-index:32; position:absolute; margin-top:-10px; margin-left:55px;}
.div_bet_chip_zone4 {height:0px; width:112px; z-index:32; position:absolute; margin-top:-10px; margin-left:50px;}
.div_bet_chip_zone5 {height:0px; width:112px; z-index:32; position:absolute; margin-top:-30px; margin-left:10px;}
.div_bet_chip_zone6 {height:0px; width:112px; z-index:32; position:absolute; margin-top:-30px; margin-left:5px;}
.div_bet_chip_zone7 {height:0px; width:112px; z-index:32; position:absolute; margin-top:-30px; margin-left:5px;}

.show_bet_money_box1 {position:relative; float: inherit; padding: 5px 15px 5px 45px; border-radius: 5px; font-weight: bold; font-size: 18px; left:20px; margin-top: 70px;
    width:124px; height:39px; line-height:30px; text-align:right; background-image:url('../../common/img/layout/bet_money_box.png'); color:#ffcd00;}
.show_bet_money_box2 {position:relative; float: inherit; padding: 5px 15px 5px 45px; border-radius: 5px; font-weight: bold; font-size: 18px; left:15px; margin-top: 70px;
    width:124px; height:39px; line-height:30px; text-align:right; background-image:url('../../common/img/layout/bet_money_box.png'); color:#ffcd00;}
.show_bet_money_box3 {position:relative; float: inherit; padding: 5px 15px 5px 45px; border-radius: 5px; font-weight: bold; font-size: 18px; left:25px; margin-top: 70px;
    width:124px; height:39px; line-height:30px; text-align:right; background-image:url('../../common/img/layout/bet_money_box.png'); color:#ffcd00; }
.show_bet_money_box4 {position:relative; float: inherit; padding: 5px 15px 5px 45px; border-radius: 5px; font-weight: bold; font-size: 18px; left:25px; margin-top: 70px;
    width:124px; height:39px; line-height:30px; text-align:right; background-image:url('../../common/img/layout/bet_money_box.png'); color:#ffcd00;}
.show_bet_money_box5 {position:relative; float: inherit; padding: 5px 15px 5px 45px; border-radius: 5px; font-weight: bold; font-size: 18px; left:80px; margin-top: -5px;
    width:124px; height:39px; line-height:30px; text-align:right; background-image:url('../../common/img/layout/bet_money_box.png'); color:#ffcd00; }
.show_bet_money_box6 {position:relative; float: inherit; padding: 5px 15px 5px 45px; border-radius: 5px; font-weight: bold; font-size: 18px; left:80px; margin-top: -5px;
    width:124px; height:39px; line-height:30px; text-align:right; background-image:url('../../common/img/layout/bet_money_box.png'); color:#ffcd00; }
.show_bet_money_box7 {position:relative; float: inherit; padding: 5px 15px 5px 45px; border-radius: 5px; font-weight: bold; font-size: 18px; left:80px; margin-top: -6px;
    width:124px; height:39px; line-height:30px; text-align:right; background-image:url('../../common/img/layout/bet_money_box.png'); color:#ffcd00; }
/************************************************************************************/
/* CARD RESULT */
/************************************************************************************/
.div_text_result_zone{width:330px; height:195px;margin:0px 0px; text-align:center; vertical-align:middle;}
.div_text_result_zone_bk{width:360px; height:108px;margin:0px 0px; text-align:center; vertical-align:middle;}

/************************************************************************************/
/* TEXT RESULT */
/************************************************************************************/
/* TEXT RESULT BOX */
/************************************************************************************/
.result_box_base {height:0px; position:absolute; width:828px; text-align:center;}
.result_box_base {height:0px; position:absolute; width:828px; text-align:center;}
.result_box_base .text_box {width:828px; height:160px; margin-top:120px; position:absolute;z-index:503; background-image:url('../../fantan/img/layout/result_box.png'); background-position:center; display:none; font-weight:bold; font-size:24px; line-height:55px; letter-spacing:3px; color:#fff;}
/************************************************************************************/